@import '../scss/index.scss';
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.styleguidist {
  &__btns-wrap {
    margin-left: -10px;
    margin-top: -10px;
    .blng-button, .button-dropdown {
      margin-left: 10px;
      margin-top: 10px;
    }
	}

	&__popover {
		display: inline-block;
		&--input {
			border: 1px solid #d7dddd;
			background: #eeeeee;
			border-radius: 3px;
		}
		&-input-wrap {
			padding: 10px;
		}
		&-text {
			display: inline-block;
			font-size: 14px;
			margin-right: 10px;
			&--input {
				display: inline-block;
			}
			&:hover {
				cursor: pointer;
			}
		}

		&-dropdown {
			width: 280px;
			background: #FFF;
			border-radius: 3px;
			&-item {
				box-sizing: border-box;
				height: 40px;
				line-height: 40px;
				padding: 0 10px;
				font-size: 14px;
				&:hover {
					cursor: pointer;
					background: lightblue;
				}
			}
			&-icon {
				display: inline-block;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	&-list-view {
		background: $cool-grey-1;
		border: 1px solid $grey-3;

		&__header-cell {
			background: $cool-grey-2;
			padding: 0 10px;
			font-weight: bold;
			&--actions {
				width: 150px;
			}
		}

		&__row-cell {
			padding: 10px;
			&--actions {
				width: 150px;
			}
		}
	}

	&-mini-loader {
		display: inline-block;
		margin-left: 50px;
		transform: scale(2.5);
	}

	&-color {
		display: inline-block;
		width: 40px;
		height: 40px;
		margin: 5px;
		border-radius: 3px;
	}
}
