@import '../../../scss/index.scss';

.blng {
  &-suggestions {
    position: relative;

    &__suggestion {
      transition: all 0.2s ease;
      min-height: 40px;
      &:hover, &--hover {
        background: $blue-1;
        cursor: pointer;
      }
      &:active {
        background: $blue-3;
      }
    }

    &__text-input {
      width: 100%;
    }

    &__loader {
      display: block;
      margin: 10px auto;
    }
    &__empty-message {
      padding: 20px;
      font-size: 16px;
      line-height: 1.31;
      text-align: center;
      color: $grey-11;
    }
  }
}
