@import '../../../scss/index.scss';

@keyframes ripple {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  33% {
    transform: scale(2);
    opacity: 1;
  }
  66% {
    transform: scale(4);
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.blng-checkbox {
  display: inline-block;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background-color: $white;
  border: solid 2px $grey-6;
  margin: auto;
  transition: all .2s ease;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $white;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid $blue-6;
    box-sizing: border-box;
    transform: scale(0);
  }
  &:hover {
    cursor: pointer;
  }
  .fa-check {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &--checked {
    background-color: $blue-6;
    border: solid 2px $blue-6;
    &::after {
      animation-name: ripple;
    }
    .fa {
      font-size: 14px;
    }
  }
}
