.blng-pagination {
	display: flex;
	list-style-type: none;
	&__page {
		margin: 0 3px;
		padding: 7px 15px;
		font-size: 14px;
		border-radius: 14px;
		&:hover {
			background-color: #e9ecef;
		}
	}
	&__page-first-last {
		padding: 6px 15px;
		font-size: 14px;
		border-radius: 14px;
		&:hover {
			background-color: #e9ecef;
		}
	}
	&__page--selected {
		color: #ffffff;
		background-color: #36c0d4;
		&:hover {
			background-color: #36c0d4;
		}
	}
	&:hover {
		cursor: pointer;
	}
}