.blng-toggle {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 14px;
  &__input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked {
      + .blng-toggle__slider {
        background-color: #ABE1E8;
        &::before {
          background-color: #36C0D4;
        }
      }
      + .blng-toggle__slider:before {
        -webkit-transform: translateX(15px);
        -ms-transform: translateX(15px);
        transform: translateX(15px);
      }
    }
    &:focus {
      + .blng-toggle__slider {
        box-shadow: 0 0 1px #ABE1E8;
      }
    }
  }
  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
      position: absolute;
      content: "";
      height: 19px;
      width: 19px;
      left: 0;
      bottom: -2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    &-round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
        background-color: #9e9e9e;
      }
    }
  }
}